.body {
    height: 100%; width: 100%; font-family: 'poppins', sans-serif; color: #222;
  }
  .navbar { padding: 0.8rem; }
  .navbar-nav li { padding-right: 40px; font-weight: bold; }
  .nav-link { font-size: 1.1em !important; }


  .page-work-area {
    background-image: url("../../assets/images/maroncolor.png");
    height: 40%; 
  
    /* Center and scale the image nicely */
    background-position: center; // background-repeat: no-repeat;
    background-size: initial; // background-size: initial;
    // margin-left: 30px;
    opacity: 0.9;
    // width: 80%;
    padding: 10px;
  
  }
  
.lead1 { color: white; font-size: 25px;}
.services_card1 {  color: white; margin-top: 30px; font-size: 35px; margin-bottom: 50px; margin-left: 50px;}
.services_card2 {color: white; font-size: 20px; margin-bottom: 20px; margin-top: 20px;   margin-left: 50px;}

// get in touch
.get_in_touch {
  max-width: 600px; margin: 10px auto; 
  position: relative; box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1); 
  padding: 30px; margin-right: 80px;
}

.contact-form .form-field{
position: relative; margin: 32px 0;
}
.contact-form .input-text{ display: block; width: 100%; height: 36px; border-width:  0 0 2px 0; 
  border-color: maroon; font-size: 18px; line-height: 26px; font-weight: 400; 
  }

.contact-form .input-text:focus{ outline: none; }
.contact-form  .label { position: absolute; left: 20px; bottom: 11px; font-size: 18px; line-height: 26px;
   font-weight: 400; color: black; cursor: text; transition: transform 0.2s ease-in-out; font-family: sans-serif;
}
// .title2 { color: white; font-weight: bold; margin-left: 40px; }
// .texts { color: white; font-size: 16px; margin-left: 70px;}
// .texts2 { color: white; font-size: 16px; margin-left: 70px; vertical-align: center;}
// hr.line {
//   border: 1px solid #d5d5d5; width: 80%;  margin-top: 0.8rem; margin-bottom: 1rem;}

// mat card
.card { margin-left: 150px; width: 500px;  margin-top: 30px; 
  background-image: url("../../assets/images/back2.jpg"); display: flex;}

section .fst_block{
  position: absolute; justify-content: center; align-items: center; min-height: 100vh; 
  display: flex;
}
// section .fst_block::before {
//   content: '';
//   position: relative; top: 0; left: 0; width: 50%; height: 50%;  margin-left: 150px;
// }
section  .fst_block .container {
  position: relative; min-width: 1100px; min-height: 550px; display: flex; z-index: 1000;
}

section .fst_block .container .contactinfo {
  position: absolute; top: 40px; width: 350px; height: calc(100% -80px); 
    z-index: 1; padding: 40px; display: flex; 
  flex-direction: column; justify-content: space-between; box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}

section  .container .contactinfo h1{ 
    font-size: 24px;font-weight: 500; color:white;
}
section  .container .contactinfo .info{ position: relative; margin: 20px 0;  } 
section .container .contactinfo .info li{ color:  white; font-weight:bold; font-size: 20px; position:relative; list-style: none; display: flex; 
  margin: 20px 0; cursor: pointer;  align-items: flex-end; } 

section .container .contactinfo .info li span:nth-child(1){width: 20px; min-width: 30px; }
section .container .contactinfo .info li span:nth-child(1) img{ max-width: 100%; filter: invert(1); opacity: 0.5; }

section  .container .contactinfo .info li span:nth-child(2){ margin-left: 10px; font-weight: 300; opacity: 0.5; }
// section .container .contactinfo .info li span:nth-child(2) img{ max-width: 100%; filter: invert(1); opacity: 0.5; }

section  .container .contactinfo .info li:hover span:nth-child(1) img, 
section  .container .contactinfo .info li:hover span:nth-child(2) {
  opacity: 1;
}



.social a { font-size: 4.5em; padding: 2rem; }
.fa-facebook { color: #3b5998; height: 60px; width: 60px;}
.fa-twitter { columns: #00aced; height: 60px; width: 60px;} 
.fa-google-plus-g { columns: #dd4b39; height: 60px; width: 60px;}
.fa-instagram { color: #517fa8;}
.fa-youtube { color: #bb0000; height: 60px; width: 60px;}

.fa-facebook:hover, .fa-twitter:hover , .fa-google-plus-g:hover ,.fa-instagram:hover ,.fa-youtube:hover {
  color: #d5d5d5; }

section .fst_block .container .contactinfo .info .sci { position: relative; display: flex; height: 50px; width: 50px;}
section .fst_block .container .contactinfo .info .sci li { list-style: none; margin-right: 15px; height: 50px; width: 50px;}
section .fst_block .container .contactinfo .info .sci li a { text-decoration: none; }
section .fst_block .container .contactinfo .info .sci li a img { filter: invert(1); opacity: 0.5; height: 50px; width: 50px;}
section  .container .contactinfo .info .sci li:hover a img { opacity: 1;  }