<main class="body">

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top"> 

    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/images/logo2.png">
        </a>
        <button mat-raised-button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span> 
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class=" nav-link"  href="">Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class=" nav-link"  href="/about_us">About us
                    </a>
                </li>

                <li class="nav-item">
                    <a class=" nav-link"  href="/services">Services
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link">Blog</a> 
                  </li>

                <li class="nav-item">
                    <a class=" nav-link" href="/portfolio">Careers</a>
                </li>

                <button mat-raised-button class="btn btn-outline-secondary btn-lg" routerLink="/contact_us">
                Contact us
                </button>

                </ul>
        </div>
    </div>
</nav>

<!-- main class2 for contact us page-->

<main class="page-work-area">

 <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4" style="color: white; margin-bottom: 50px; margin-top: 70px; font-size: 45px;">
                    CONNECT WITH US!!
                </h1>
             
                <div class="col-12">
                    <p class="lead1">
                        Free Consultation. No obligation quote with 8 business hours.
                    </p>
                    
                    <br><br>

                  </div>
                </div>
            </div>
        </div>

      </main>
<!-- card organizational info -->
<div class="row padding">

<mat-card class="card">

<section class="fst_block"> 

       <div class="container">      
          <div class="contactinfo">
              <div>
                  <h1> CONTACT INFO</h1>

                     <ul class="info">

                        <li>
                           <span><img src="../../assets/images/location2.png" style="height: 50px; width: 50px;">
                            </span> 
                            <span>140 4 Ave E, Regina, SK S4N 4Z4
                            </span> 
                 
                        </li>
                        <li>
                            <span><img src="../../assets/images/email.jpg" style="height: 50px; width: 50px;"></span> 
                            <span>info@maroonsb2b.com</span> 
                                             
                        </li>

                        <li>
                          <span><img src="../../assets/images/contact.png" style="height: 50px; width: 50px;"></span> 
                          <span>+1 639 999 5444</span>                
                      </li>
                                                     
                        </ul>
                      </div>
                      <hr class="line">
                      <br><br>

                      <!-- connect social media icons -->
    <div class="container-fluid padding">
        
      <div class="row text-center padding">
          <div class="col-12">
              
          </div>
              <div class="col-12 social padding">
                  <a href="#"><i class="fab fa-facebook" ></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
      </div>
  </div>

                        <!-- <ul class="sci">
                          <li><a href="#"><img src="../../assets/images/fb2.png" style="height: 50px; width: 50px;">
                          </a></li>
                          <li><a href="#"><img src="../../assets/images/insta2.png" style="height: 50px; width: 50px;">
                          </a></li>
                          
                          <li><a href="#"><img src="../../assets/images/in.png" style="height: 50px; width: 50px;">
                          </a></li>
                        </ul> -->
                      
                    </div>
                  </div>
</section>
</mat-card>
  <section class="get_in_touch">
  
                          <h1 class="title">GET IN TOUCH</h1>
                          <div class="container">
                            <div class="contact-form row">
                              <div class="form-field col-lg-6">
                                
                                <input id="name" class="input-text" type="text" name="" >
                              <label for="name" class="label">Your Name</label>

                            </div>
                            <div class="form-field col-lg-6">
                              <input id="email" class="input-text" type="email" name="" >
                              <label for="email" class="label">Email</label>

                            </div>
                            <div class="form-field col-lg-6">
                              <input id="company" class="input-text" type="text" name="" >
                              <label for="company" class="label">Company Name</label>

                            </div>
                            <div class="form-field col-lg-6">
                              <input id="phone" class="input-text" type="text" name="" >
                              <label for="phone" class="label">Contact number</label>

                            </div>
                            <div class="form-field col-lg-6">
                              <input id="message" class="input-text" type="text" name="" >
    
                              <label for="message" class="label">Your Message</label>

                            </div>

                            <div class="form-group">
                              <label for="exampleFormControlFile1">Browse your file</label>
                              <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div> 

                             
            <div class="row text-center padding">
              <div class="col-md-12">
              <a href="#" class="btn btn-success btn-lg" style="vertical-align: middle; margin-left: 180px;" >Send Your Request</a>
          </div>
          </div>

          <br><br><br><br>
                          </div>
                          <small id="emailHelp" class="form-text text-muted" style="font-size: 16px; color: rgb(135, 137, 250);">Note: We respect your privacy. Your details will never be shared with anyone for marketing purpose.</small>
                          </div>

                        </section> 
                        <br><br>




                        <!-- <section class="get_in_touch2">
                          
                          <h1 class="title2">Contact Us</h1>
                          
                          <hr class="line">
                          <br>
                          <div class="content-form row">
                            
                          <p class="texts">INDIA - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +918281108879 </p>          
                          </div>        

                          <div class="row">
                            <p class="texts">CANADA - </p>       <p class="texts">+1 639 999 5444</p>   
                            </div>        
                            
                            <div class="row">
                              <p class="texts">USA - </p>           <p class="texts">+1 306 700 0282</p>   
                              </div>        
                          <br>
                          <hr class="line">

                          <div class="container">
                          </div>  
  
                    </section> -->
                             
               </div> 
            
</main>